.u-section-1 {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        )
        no-repeat;
    background-repeat: no-repeat, no-repeat;
}

.u-section-1 .u-sheet-1 {
    min-height: 100vh;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 127px 49px 0 0;
}

.u-section-1 .u-text-2 {
    font-weight: 600;
    text-transform: none;
    margin: 21px 377px 0 0;
}

.u-section-1 .u-text-3 {
    font-size: 1.33333rem;
    margin: 20px 377px 0 0;
}

.u-section-1 .u-btn-1 {
    --radius: 2px;
    background-image: none;
    margin: 20px 377px 0 0;
    padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
    font-size: 1.1765em;
}

@media (max-width: 1199px) {
    .u-section-1 {
        background-position: 50% 50%, 50% 50%;
        background-size: cover, cover;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-right: 177px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 177px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 177px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-2 {
        margin-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-3 {
        font-size: 1rem;
    }
}
.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 664px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 75px 0 0;
}

.u-section-2 .u-image-1 {
    min-height: 608px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-2 .u-image-2 {
    min-height: 304px;
    transform-origin: center center;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 304px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px 60px;
}

.u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-timing-function: ease-in-out;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
    font-family: Manrope;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-timing-function: ease-in-out;
    margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
    font-size: 0.9375rem;
    letter-spacing: 1px;
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Manrope;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-timing-function: ease-in-out;
    margin: 20px auto 0 0;
    padding: 0 0 1px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 558px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-image-1 {
        min-height: 501px;
    }

    .u-section-2 .u-image-2 {
        min-height: 251px;
        background-size: cover;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 251px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1308px;
    }

    .u-section-2 .u-image-1 {
        min-height: 767px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-image-2 {
        min-height: 385px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1020px;
    }

    .u-section-2 .u-image-1 {
        min-height: 575px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-2 {
        min-height: 289px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 700px;
    }

    .u-section-2 .u-image-1 {
        min-height: 362px;
    }

    .u-section-2 .u-image-2 {
        min-height: 182px;
    }
}
.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 691px;
}

.u-section-3 .u-layout-wrap-1 {
    --radius: 25px;
    width: 1140px;
    margin: 38px -17px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 542px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
    padding: 20px;
}

.u-section-3 .u-image-1 {
    height: 345px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 13px auto 0 20px;
}

.u-section-3 .u-text-2 {
    font-size: 0.9375rem;
    font-family: Manrope;
    margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 542px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
    padding: 20px;
}

.u-section-3 .u-image-2 {
    height: 345px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 13px auto 0 20px;
}

.u-section-3 .u-text-4 {
    font-size: 0.9375rem;
    font-family: Manrope;
    margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
    min-height: 542px;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-3 {
    padding: 20px;
}

.u-section-3 .u-image-3 {
    height: 345px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 13px 20px 0;
}

.u-section-3 .u-text-6 {
    font-size: 0.9375rem;
    font-family: Manrope;
    margin: 20px;
}

.u-section-3 .u-btn-1 {
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0px;
    background-image: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Manrope;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 34px auto 49px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 509px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 940px;
        margin-right: 0;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 447px;
    }

    .u-section-3 .u-image-1 {
        height: 277px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-1 {
        margin-left: 16px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 447px;
    }

    .u-section-3 .u-image-2 {
        height: 277px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-3 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-3 .u-text-4 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 447px;
    }

    .u-section-3 .u-image-3 {
        height: 277px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-6 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 178px;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-bottom: 59px;
        width: 720px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
        --radius: 25px;
    }

    .u-section-3 .u-image-1 {
        height: 203px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-1 {
        margin-left: 12px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-3 .u-image-2 {
        height: 203px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-3 {
        margin-left: 12px;
        margin-right: 12px;
    }

    .u-section-3 .u-text-4 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-3 .u-image-3 {
        height: 203px;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 278px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-image-1 {
        height: 528px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-1 {
        margin-left: 0;
    }

    .u-section-3 .u-text-2 {
        margin-right: 18px;
        margin-left: 0;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-image-2 {
        height: 528px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-3 {
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-3 .u-text-4 {
        margin-right: 18px;
        margin-left: 0;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-image-3 {
        height: 528px;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-3 .u-image-1 {
        height: 325px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-2 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-image-2 {
        height: 325px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-4 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-image-3 {
        height: 325px;
        margin-right: initial;
        margin-left: initial;
    }
}

.u-section-3 .u-layout-cell-1,
.u-section-3 .u-layout-cell-1:before,
.u-section-3 .u-layout-cell-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before,
.u-section-3 .u-layout-cell-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-layout-cell-3,
.u-section-3 .u-layout-cell-3:before,
.u-section-3 .u-layout-cell-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-3 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
    transform: scale(1.05) translateX(0px) translateY(0px) !important;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1) !important;
}
.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 664px;
}

.u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
    min-height: 583px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
    padding: 20px 20px 0;
}

.u-section-4 .u-group-1 {
    min-height: 171px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 2px 8px 0px rgba(128, 128, 128, 1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        rgba(239, 159, 158, 0.5),
        rgba(239, 159, 158, 0.5)
    );
    background-size: cover;
}

.u-section-4 .u-container-layout-2 {
    padding: 5px;
}

.u-section-4 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
    padding: 0;
}

.u-section-4 .u-text-2 {
    font-family: Manrope;
    font-weight: 500;
    margin: 20px 0 0 20px;
}

.u-section-4 .u-layout-cell-2 {
    min-height: 141px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-3 {
    padding-left: 20px;
}

.u-section-4 .u-text-3 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 20px 20px 0 0;
}

.u-section-4 .u-text-4 {
    font-size: 1rem;
    font-family: Manrope;
    margin: 20px 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
    min-height: 139px;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
    padding-left: 20px;
}

.u-section-4 .u-text-5 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 25px 20px 0 0;
}

.u-section-4 .u-text-6 {
    font-size: 1rem;
    font-family: Manrope;
    margin: 20px 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
    min-height: 139px;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
    padding-left: 20px;
}

.u-section-4 .u-text-7 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 20px 20px 0 0;
}

.u-section-4 .u-text-8 {
    font-size: 1rem;
    font-family: Manrope;
    margin: 20px 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
    min-height: 163px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-6 {
    padding: 0;
}

.u-section-4 .u-text-9 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 25px 20px 0;
}

.u-section-4 .u-text-10 {
    font-size: 1rem;
    font-family: Manrope;
    margin: 20px 20px 0;
}

@media (max-width: 1199px) {
    .u-section-4 {
        min-height: 309px;
    }

    .u-section-4 .u-sheet-1 {
        min-height: 309px;
    }

    .u-section-4 .u-image-1 {
        min-height: 481px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 16px;
    }

    .u-section-4 .u-group-1 {
        height: auto;
    }

    .u-section-4 .u-text-1 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
        transition-duration: 0.5s;
        transform: scale(1.1) translateX(0px) translateY(0px);
    }

    .u-section-4 .u-text-2 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 159px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 16px;
    }

    .u-section-4 .u-text-3 {
        position: relative;
        margin-right: 0;
    }

    .u-section-4 .u-text-4 {
        margin-right: 0;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 115px;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 16px;
    }

    .u-section-4 .u-text-5 {
        position: relative;
        margin-right: 16px;
    }

    .u-section-4 .u-text-6 {
        margin-right: 16px;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 115px;
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 16px;
    }

    .u-section-4 .u-text-7 {
        position: relative;
        margin-right: 16px;
    }

    .u-section-4 .u-text-8 {
        margin-right: 16px;
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 135px;
    }

    .u-section-4 .u-text-9 {
        position: relative;
        margin-right: 0;
    }

    .u-section-4 .u-text-10 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-image-1 {
        min-height: 368px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 13px;
        padding-bottom: 0;
    }

    .u-section-4 .u-text-1 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-4 .u-text-2 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 161px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 13px;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 13px;
    }

    .u-section-4 .u-text-5 {
        margin-right: 13px;
    }

    .u-section-4 .u-text-6 {
        margin-right: 13px;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 135px;
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 13px;
    }

    .u-section-4 .u-text-7 {
        margin-right: 13px;
    }

    .u-section-4 .u-text-8 {
        margin-right: 13px;
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 151px;
    }

    .u-section-4 .u-container-layout-6 {
        padding: 0;
    }

    .u-section-4 .u-text-9 {
        width: auto;
        margin-left: 13px;
    }

    .u-section-4 .u-text-10 {
        width: auto;
        margin-left: 13px;
    }
}

@media (max-width: 767px) {
    .u-section-4 {
        min-height: 409px;
    }

    .u-section-4 .u-sheet-1 {
        min-height: 409px;
    }

    .u-section-4 .u-image-1 {
        min-height: 552px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 9px;
        padding-right: 10px;
    }

    .u-section-4 .u-text-1 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-4 .u-text-2 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 137px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 9px;
    }

    .u-section-4 .u-text-4 {
        position: relative;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 9px;
    }

    .u-section-4 .u-text-5 {
        margin-right: 9px;
    }

    .u-section-4 .u-text-6 {
        position: relative;
        margin-right: 20px;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 111px;
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 9px;
    }

    .u-section-4 .u-text-7 {
        margin-right: 9px;
    }

    .u-section-4 .u-text-8 {
        position: relative;
        margin-right: 20px;
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 100px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-image-1 {
        min-height: 348px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 6px;
    }

    .u-section-4 .u-text-1 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-4 .u-text-2 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 160px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 6px;
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 116px;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 6px;
    }

    .u-section-4 .u-text-5 {
        margin-right: 6px;
    }

    .u-section-4 .u-text-6 {
        margin-right: 6px;
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 134px;
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 6px;
    }

    .u-section-4 .u-text-7 {
        margin-right: 6px;
    }

    .u-section-4 .u-text-8 {
        margin-right: 6px;
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 165px;
    }

    .u-section-4 .u-text-9 {
        margin-left: 0;
    }

    .u-section-4 .u-text-10 {
        margin-left: 0;
    }
}

.u-section-4 .u-layout-cell-3,
.u-section-4 .u-layout-cell-3:before,
.u-section-4 .u-layout-cell-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover:before {
    background-color: #bc2626 !important;
}

.u-section-4 .u-layout-cell-4,
.u-section-4 .u-layout-cell-4:before,
.u-section-4 .u-layout-cell-4 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-4 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover:before {
    background-color: #bc2626 !important;
}

.u-section-4 .u-layout-cell-2,
.u-section-4 .u-layout-cell-2:before,
.u-section-4 .u-layout-cell-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:before {
    background-color: #bc2626 !important;
}

.u-section-4 .u-layout-cell-5,
.u-section-4 .u-layout-cell-5:before,
.u-section-4 .u-layout-cell-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-4 .u-layout-cell-5.u-layout-cell-5.u-layout-cell-5:hover:before {
    background-color: #bc2626 !important;
}
.u-section-5 {
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        )
        50% 50% / cover;
    background-position: 50% 50%;
    min-height: 732px;
    background-size: cover;
}

.u-section-5 .u-layout-wrap-1 {
    margin-top: 81px;
    margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
    min-height: 262px;
}

.u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-5 .u-text-1 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
    min-height: 262px;
}

.u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-5 .u-text-3 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 25px 0 0;
}

.u-section-5 .u-text-4 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-3 {
    min-height: 262px;
}

.u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-5 .u-text-5 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 25px 0 0;
}

.u-section-5 .u-text-6 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-4 {
    min-height: 270px;
}

.u-section-5 .u-container-layout-4 {
    padding: 29px 30px;
}

.u-section-5 .u-text-7 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 0;
}

.u-section-5 .u-text-8 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-5 {
    min-height: 270px;
}

.u-section-5 .u-container-layout-5 {
    padding: 29px 30px;
}

.u-section-5 .u-text-9 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 0;
}

.u-section-5 .u-text-10 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-6 {
    min-height: 270px;
}

.u-section-5 .u-container-layout-6 {
    padding: 29px 30px;
}

.u-section-5 .u-text-11 {
    font-weight: 700;
    transition-duration: 1s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin: 0;
}

.u-section-5 .u-text-12 {
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-5 {
        min-height: 511px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 216px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-5 .u-layout-cell-2 {
        min-height: 216px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 216px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-5 .u-layout-cell-4 {
        min-height: 223px;
    }

    .u-section-5 .u-layout-cell-5 {
        min-height: 223px;
    }

    .u-section-5 .u-text-9 {
        transition-duration: 0.5s;
    }

    .u-section-5 .u-layout-cell-6 {
        min-height: 223px;
    }

    .u-section-5 .u-text-11 {
        transition-duration: 0.5s;
    }
}

@media (max-width: 991px) {
    .u-section-5 {
        min-height: 272px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-5 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-5 .u-layout-cell-4 {
        min-height: 100px;
    }

    .u-section-5 .u-layout-cell-5 {
        min-height: 100px;
    }

    .u-section-5 .u-layout-cell-6 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-5 {
        min-height: 472px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-5 .u-text-3 {
        position: relative;
    }

    .u-section-5 .u-text-4 {
        position: relative;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-5 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-container-layout-1 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 9px;
        padding-right: 9px;
    }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before,
.u-section-5 .u-text-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
    transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
    transform: translateX(0px) translateY(-10px) scale(1) !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before,
.u-section-5 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-3.u-text-3.u-text-3:hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-3.u-text-3.u-text-3.hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-5,
.u-section-5 .u-text-5:before,
.u-section-5 .u-text-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-5.u-text-5.u-text-5:hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-5.u-text-5.u-text-5.hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-7,
.u-section-5 .u-text-7:before,
.u-section-5 .u-text-7 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-7.u-text-7.u-text-7:hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-7.u-text-7.u-text-7.hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-9,
.u-section-5 .u-text-9:before,
.u-section-5 .u-text-9 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-9.u-text-9.u-text-9:hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-9.u-text-9.u-text-9.hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-11,
.u-section-5 .u-text-11:before,
.u-section-5 .u-text-11 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width,
        border-style, border-width, border-top-width, border-left-width,
        border-right-width, border-bottom-width, custom-border, borders,
        box-shadow, text-shadow, opacity, border-radius, stroke, border-color,
        font-size, font-style, font-weight, text-decoration, letter-spacing,
        transform, background-image, image-zoom, background-size,
        background-position;
}

.u-section-5 .u-text-11.u-text-11.u-text-11:hover {
    transform: translateX(0px) translateY(-10px) !important;
}

.u-section-5 .u-text-11.u-text-11.u-text-11.hover {
    transform: translateX(0px) translateY(-10px) !important;
}
.u-section-6 .u-sheet-1 {
    min-height: 937px;
}

.u-section-6 .u-group-1 {
    width: 570px;
    min-height: 198px;
    height: auto;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 35px auto 0 0;
}

.u-section-6 .u-text-1 {
    font-weight: 700;
    margin: 11px 20px 0;
}

.u-section-6 .u-text-2 {
    font-family: Manrope;
    font-size: 1.125rem;
    margin: 20px 20px 0;
}

.u-section-6 .u-btn-1 {
    font-size: 0.9375rem;
    letter-spacing: 1px;
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Manrope;
    margin: 20px 20px 0;
    padding: 0 0 1px;
}

.u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 36px;
}

.u-section-6 .u-image-1 {
    min-height: 199px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-layout-cell-2 {
    min-height: 489px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
    padding-right: 20px;
}

.u-section-6 .u-text-3 {
    margin-left: 20px;
    margin-right: 0;
    font-weight: 700;
    margin-top: 20px;
}

.u-section-6 .u-text-4 {
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 0;
    font-family: Manrope;
}

.u-section-6 .u-layout-cell-3 {
    min-height: 372px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-6 .u-text-5 {
    font-family: Manrope;
    margin: 44px 0 0;
}

.u-section-6 .u-image-2 {
    min-height: 316px;
    background-position: 100% 31.16%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    background-size: auto 125%;
}

.u-section-6 .u-image-3 {
    min-height: 215px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-layout-cell-6 {
    min-height: 473px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.u-section-6 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Manrope;
}

@media (max-width: 1199px) {
    .u-section-6 .u-group-1 {
        width: 470px;
        height: auto;
    }

    .u-section-6 .u-text-1 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-6 .u-text-2 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-6 .u-btn-1 {
        margin-top: 16px;
        margin-right: auto;
        margin-left: 16px;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 444px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-right: 16px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 16px;
        position: relative;
    }

    .u-section-6 .u-text-4 {
        margin-left: 16px;
        position: relative;
    }

    .u-section-6 .u-layout-cell-3 {
        min-height: 327px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .u-section-6 .u-text-5 {
        position: relative;
    }

    .u-section-6 .u-layout-cell-6 {
        min-height: 428px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-6 .u-text-7 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1455px;
    }

    .u-section-6 .u-group-1 {
        width: 360px;
    }

    .u-section-6 .u-text-1 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-bottom: 59px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-right: 13px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 13px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 13px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-left: 13px;
        padding-right: 13px;
    }

    .u-section-6 .u-layout-cell-6 {
        min-height: 264px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 13px;
        margin-right: 13px;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1580px;
    }

    .u-section-6 .u-group-1 {
        width: 338px;
    }

    .u-section-6 .u-text-1 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 9px;
        margin-right: 9px;
        font-size: 1rem;
    }

    .u-section-6 .u-container-layout-3 {
        padding-right: 9px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 9px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 9px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-6 .u-layout-cell-6 {
        min-height: 428px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
        min-height: 2142px;
    }

    .u-section-6 .u-group-1 {
        width: 283px;
    }

    .u-section-6 .u-text-1 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-btn-1 {
        margin-left: 0;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-bottom: 0;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 250px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-right: 6px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 6px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 6px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-left: 6px;
        padding-right: 6px;
    }

    .u-section-6 .u-layout-cell-6 {
        min-height: 282px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 6px;
        margin-right: 6px;
    }
}
.u-section-7 {
    background-image: none;
    min-height: 887px;
}

.u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-weight: 700;
    margin: 54px auto 0;
}

.u-section-7 .u-text-2 {
    font-size: 1.125rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-family: Manrope;
    width: 839px;
    margin: 11px auto 0;
}

.u-section-7 .u-shape-1 {
    background-image: none;
    height: 362px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 188px;
    margin-bottom: 0;
}

.u-section-7 .u-gallery-1 {
    width: 985px;
    height: 652px;
    grid-gap: 10px;
    margin: -511px auto 53px;
}

.u-section-7 .u-carousel-indicators-1 {
    position: absolute;
    top: auto;
    bottom: -27px;
    width: auto;
    height: auto;
}

.u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 16px;
}

.u-section-7 .u-carousel-item-1 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-1 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-2 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-3 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-item-4 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-4 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-item-5 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-5 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-item-6 {
    margin-right: 0;
    transition-duration: 0.5s;
}

.u-section-7 .u-over-slide-6 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: none;
    padding: 8px;
}

.u-section-7 .u-carousel-control-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: none;
    padding: 8px;
}

@media (max-width: 1199px) {
    .u-section-7 {
        min-height: 852px;
    }

    .u-section-7 .u-shape-1 {
        height: 415px;
        margin-top: 148px;
    }

    .u-section-7 .u-gallery-1 {
        width: 810px;
        height: 622px;
        margin-top: -538px;
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-text-2 {
        font-size: 1.25rem;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-7 .u-shape-1 {
        height: 440px;
        margin-top: 105px;
    }

    .u-section-7 .u-gallery-1 {
        width: 613px;
        height: 551px;
        margin-top: -495px;
    }

    .u-section-7 .u-gallery-inner-1 {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-shape-1 {
        height: 4226px;
    }

    .u-section-7 .u-gallery-1 {
        width: 493px;
        margin-right: 0;
        height: 3284px;
    }

    .u-section-7 .u-gallery-inner-1 {
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 575px) {
    .u-section-7 {
        min-height: 548px;
    }

    .u-section-7 .u-shape-1 {
        height: 280px;
        margin-top: 20px;
    }

    .u-section-7 .u-gallery-1 {
        height: 274px;
        margin-top: -274px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}
