 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 800px 0 0;
}

.u-section-1 .u-blog-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 18px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-gap: 20px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
  --radius: 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-family: Manrope;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Manrope;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Manrope;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-family: Manrope;
  margin-top: 20px;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
  --radius: 25px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-family: Manrope;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-family: Manrope;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-metadata-2 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-family: Manrope;
  margin-top: 20px;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
  --radius: 25px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-family: Manrope;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-family: Manrope;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-metadata-3 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-family: Manrope;
  margin-top: 20px;
}

.u-section-1 .u-pagination-1 {
  font-family: Manrope;
  font-weight: 500;
  font-size: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 600px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    min-height: 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 380px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 159px;
    height: auto;
    min-height: 1563px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 26px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}

.u-container-layout.hover > .u-section-1 .u-text-2 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}

.u-container-layout.hover > .u-section-1 .u-text-4 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}

.u-container-layout.hover > .u-section-1 .u-text-6 {
  transform: translateX(0px) translateY(-10px) !important;
  font-weight: bold !important;
}